{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block bread %}
{% if current_user.enrolment %}
<ol class="breadcrumb">
    <li></li>
    <li><a href="{{ url_for('main.commit') }}">commit</a></li>
    <li class="active">enroll</li>
    <li>infromation</li>
</ol>
{% else %}
<ol class="breadcrumb">
    <li></li>
    <li><a href="{{ url_for('main.commit') }}">commit</a></li>
    <li class="active">enroll</li>
    <li>infromation</li>
</ol>
{% endif %}
{% endblock %}


{% block page_content %}
<div class="page-header">
    <h1>Hello, enroll</h1>
</div>
<!-- <div class="col-md-4">
	<form action class="form" role="form" method="post">
		<table class="table table-bordered">
            <caption>请填写报名信息</caption>
			<thead>
                <tr>
                    <th>报名点</th>
                    <td></td>

                    <th>考生号</th>
                    <td></td>

                </tr>
                <tr><th>考试类型</th>
                    <td>全国统考</td>

                    <th>考试科类</th>
                    <td>

                    </td>

                </tr>
				<tr>
					<th>姓名</th>
					<td>{{ form.name }}</td>

					<th>性别</th>
					<td>{{ form.sex }}</td>
				</tr>
                <tr>
                    <th>身份证号</th>
                    <td>{{ form.id_number }}</td>

                    <th>民族</th>
                    <td>{{ form.nation }}</td>
                </tr>
                <tr>
                    <th>出生日期</th>
                    <td>{{ form.birthday }}</td>

                    <th>学籍号</th>
                    <td>{{ form.student_status }}</td>
                </tr>
                <tr>
                    <th>政治面貌</th>
                    <td>{{ form.political_status }}</td>

                    <th>户口所在地</th>
                    <td>{{ form.native_place }}</td>
                </tr>
                <tr>
                    <th>通讯地址</th>
                    <td>{{ form.postal_address }}</td>

                    <th>邮政编码</th>
                    <td>{{ form.postal_code }}</td>

                </tr>
                <tr>
                    <th>收件人</th>
                    <td>{{ form.recipients }}</td>

                    <th>联系人</th>
                    <td>{{ form.contacts }}</td>
                </tr>
                <tr>
                    <th>宅电</th>
                    <td>{{ form.home_phone_number }}</td>

                    <th>手机</th>
                    <td>{{ form.phone_number }}</td>
                </tr>
                <tr>
                    <th>毕业院校</th>
                    <td>{{ form.high_school }}</td>

                    <th>班级</th>
                    <td>{{ form.class_in_school }}</td>
                </tr>
                <tr>
                    <th>毕业类别</th>
                    <td>{{ form.graduation_category }}</td>

                    <th>考生类别</th>
                    <td>{{ form.examinee_category }}</td>
                </tr>
                <!--
                <tr>
                    <th>艺术统考类</th>
                    <td></td>
                    <th>专业方向类</th>
                    <td></td>
                </tr>
                <tr>
                    <th>体育专业测试</th>
                    <td></td>
                    <th>体育测试项目</th>
                    <td></td>
                </tr>


                <tr>
                    <th>现阶段班主任或负责人</th>
                    <td>{{ form.headmaster }}</td>
                    <th>有何特长</th>
                    <td>{{ form.speciality }}</td>
                </tr>
            </thead>
        </table>
    </form>
</div> -->
<!-- 表格 -->




<div class="col-md-4">
    {{ wtf.quick_form(form) }}
</div>

{% endblock %}

