{% extends "last_base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block page_content %}
<div>
    <h3>根据考生号查询学生信息</h3>
</div>
<div class="col-md-4">
    {{ wtf.quick_form(form) }}
</div>

{% if user %}
<div style="text-align:center">
	<form class="bs-example bs-example-form" role="form" method="post">
		<table class="table table-bordered">
            <caption>考生{{ user.name }}的详细信息</caption>
			<thead>
                <tr>
                    <th>报名点</th>
                    <td></td>
                    <th>考生号</th>
                    <td></td>

                </tr>
                <tr><th>考试类型</th>
                    <td>全国统考</td>
                    <th>考试科类</th>
                    <td>
                        <select class="current_user-control">
                            <option>考试科类</option>
                            <option>文史类</option>
                            <option>文科音乐类</option>
                            <option>文科美术类</option>
                            <option>文科体育类</option>
                            <option>理工类</option>
                            <option>理科音乐类</option>
                            <option>理科美术类</option>
                            <option>理科体育类</option>
                        </select>
                    </td>

                </tr>
				<tr>
					<th>姓名</th>
					<td>{{ user.name }}</td>
					<th>性别</th>
					<td>{{ user.sex }}</td>
				</tr>
                <tr>
                    <th>身份证号</th>
                    <td>{{ user.id_number }}</td>

                    <th>民族</th>
                    <td>{{ user.nation }}</td>
                </tr>
                <tr>
                    <th>出生日期</th>
                    <td>{{ user.birthday }}</td>

                    <th>学籍号</th>
                    <td>{{ user.student_id }}</td>
                </tr>
                <tr>
                    <th>政治面貌</th>
                    <td>{{ user.political_status }}</td>

                    <th>户口所在地</th>
                    <td>{{ user.native_place }}</td>
                </tr>
                <tr>
                    <th>通讯地址</th>
                    <td>{{ user.postal_address }}</td>

                    <th>邮政编码</th>
                    <td>{{ user.postal_code }}</td>

                </tr>
                <tr>
                    <th>收件人</th>
                    <td>{{ user.recipients }}</td>

                    <th>联系人</th>
                    <td>{{ user.contacts }}</td>
                </tr>
                <tr>
                    <th>宅电</th>
                    <td>{{ user.home_phone_number }}</td>

                    <th>手机</th>
                    <td>{{ user.phone_number }}</td>
                </tr>
                <tr>
                    <th>毕业院校</th>
                    <td>{{ user.high_school }}</td>

                    <th>班级</th>
                    <td>{{ user.class_in_school }}</td>
                </tr>
                <tr>
                    <th>毕业类别</th>
                    <td>{{ user.graduation_category }}</td>

                    <th>考生类别</th>
                    <td>{{ user.examinee_category }}</td>
                </tr>

                <!--
                <tr>
                    <th>艺术统考类</th>
                    <td></td>
                    <th>专业方向类</th>
                    <td></td>
                </tr>
                <tr>
                    <th>体育专业测试</th>
                    <td></td>
                    <th>体育测试项目</th>
                    <td></td>
                </tr>
                -->


                <tr>
                    <th>班主任</th>
                    <td>{{ user.headmaster }}</td>
                    <th>有何特长</th>
                    <td>{{ user.speciality }}</td>
                </tr>
            </thead>
        </table>
    </form>


</div>
{% endif %}
{% endblock %}